:root{
  --pink: #EC4899;
  --purple: #A855F7;
  --blue: #67E8F9;
  --green: #5EEAD4;
}

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, 
.card-title,
a.nav-item {
    font-family: 'Happy Monkey', cursive;
}

.card-title {
  font-size: 24px;
}

a {
  transition: all 0.15s ease;
}

a:hover {
  color: var(--pink);
  text-decoration: none;
}

a.nav-item {
  font-size: 24px;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-pink {
  background-color: var(--pink);
}

#home-header,
#song-header,
#manage-header,
#about-header {
    background-size: cover;
    background-position: center;
    z-index: -10;
}

#home-header {
  background-image: url(./img/header.jpg);
}

#song-header {
    background-image: url(./img/song-header.jpg);
}

#manage-header {
  background-image: url(./img/manage-header.jpg);
}

#about-header {
  background-image: url(./img/about-header.jpg);
}

.player-scrub,
.player-song-info {
  width: calc(100% - 250px);
}

.top-neg-8 {
  top: -8px;
}

.player-song-info {
  margin-top: -24px;
}

#playlist li:first-child {
  padding-top: 25px;
}

.upload-dropbox.upload-dropbox-drag {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
  border-style: solid;
}

input[type="file"] {
  margin-top: 20px;
}

.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

.music-bg {
  background-image: url(./img/header.jpg);
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}
